body {
	background-color: #232323;
	margin: 0;
	font-family: "Avenir";
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 20%;
	transition: background 1.0s;
}

.container {
	max-width: 600px;
	margin: 20px auto;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}